*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sf pro text', sans-serif;
}

.inline-block .logo{
    display: inline-block;
    vertical-align: top;
    width: 23%;
    padding:1%;
    text-align: right;
}


.navigation {
    display: flex;
    justify-content: space-between;
    width:73%;
    padding:0;
    align-items: center;

}
header li { 
    font-size: 35px;
    color: white;
    margin: 0;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
   
    
  }

nav ul {
    display: flex;
    justify-content: right;
    width:90vw;
    background-color: #373738;
    list-style: none;
    height: 90px;

}

img.logo {
    height: 50px;
    width: 100px;
}

img.myface{
    height: 500px;
    width: 500px;
    display: inline-block;
    margin-right:auto;
}

.heroimg {
    height: 500 px;
    padding: 25px;
}



.content {
    width:500px;
    margin:0 auto;
    min-height: calc(100vh - 140px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

footer {
    background-color: #373738;
    
}

footer ul {
    display: flex;
    justify-content: left;
    width:90vw;
    background-color: #373738;
    list-style: none;
    height: 90px;
    font-size: 35px;
    color: white;
    margin: 0;
    text-decoration: none;
}

.flexcontainer{
    display: flex;
}

.flexcontainer div {
    width: 33%;
    margin:0% auto;
    padding-right: 1%; 
}

.workGrid {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "myArea"
     "myArea" 
     "myArea";
  }
  
  .workGrid img {
    max-width: 100%;
    max-height: 100%;
    height: 500px;
    width: 600px;
  }

@media only screen and (max-width: 600) {
    header ul {
       width: fit-content
     }
     
     .heroimg, .lists {
       flex-direction: column;
       align-items: center
     }
     
     .mySkills ul {
       padding: 10px 0 ;
       margin: 0;
     }
   }